In [93]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [94]:
# sales = name of main dataframe AFTER it has been cleaned up & merged
# cpi = inflation table
# joblessclaims = unemployment table
# train = unfiltered Walmart Sales Data

In [103]:
# Read cpi.csv
CPIColNames = ['Date', 'CPI']
cpiRaw = pd.read_csv('cpi.csv', parse_dates=['Date'], header=None, index_col = 0, names=CPIColNames)


# Read Jobless Claims Data csv
JobColNames = ['Date', 'Claims']
joblessclaims = pd.read_csv('initial_joblessclaims.csv', parse_dates=True, index_col = 0, header = None, names=JobColNames)


# Read the Walmart Sales Data csv
train = pd.read_csv('train.csv')

In [104]:
# Start Date for Walmart Data = 2/5/2010 or 05/02/2010
# End Date for Walmart Data = 10/26/2012
print(cpiRaw)

                                              CPI
Date
NaN                        CPI U: All Commodities
Region                              United States
Frequency                                 Monthly
Unit                                1982-1984=100
Source                 Bureau of Labor Statistics
Status                                     Active
Series ID                        41087801 (UIAJA)
SR Code                                  SR792318
Function Information                          NaN
First Obs. Date                            Mar-35
Last Obs. Date                             Aug-18
Last Update Time                       13/09/2018
Remarks                                       NaN
Suggestions                                   NaN
Mean                                  97.02567943
Variance                              3316.870697
Standard Deviation                    57.59227984
Skewness                              0.120943198
Kurtosis                             -1.494960405
Coefficient Variation                 0.593577702
Min                                          14.6
Max                                       190.518
Median                                     101.15
No. of Obs                                    836
Mar-35                                       14.9
Jul-35                                       14.8
Oct-35                                       14.9
Jan-36                                         15
Apr-36                                       14.8
Jul-36                                       15.1
...                                           ...
Mar-16                                    178.437
Apr-16                                    179.941
May-16                                     180.59
Jun-16                                    180.748
Jul-16                                    179.389
Aug-16                                     179.14
Sep-16                                     179.85
Oct-16                                    180.306
Nov-16                                     179.02
Dec-16                                      178.7
Jan-17                                    180.298
Feb-17                                    180.607
Mar-17                                    181.136
Apr-17                                    182.041
May-17                                    181.489
Jun-17                                     180.72
Jul-17                                    180.043
Aug-17                                    180.763
Sep-17                                    182.903
Oct-17                                    182.116
Nov-17                                    181.847
Dec-17                                    180.946
Jan-18                                    182.434
Feb-18                                    183.385
Mar-18                                     183.78
Apr-18                                    185.271
May-18                                    186.199
Jun-18                                    185.965
Jul-18                                    185.531
Aug-18                                    185.366

[860 rows x 1 columns]

In [107]:
# Slice out the selected CPI months from February 2010 through October 2012
cpi = cpiRaw.loc['Feb-10':'Oct-12', :]
cpi.reset_index(inplace=True)

#Slice only the Jobleess Claims dates from from February 2010 through October 2012
JoblessClaims = joblessclaims.loc['6/2/2010':'27/10/2012', :]
JoblessClaims = pd.DataFrame(JoblessClaims)

# Convert to DateTime
#cpi['Date'] = pd.to_datetime(cpi['Date'])
JoblessClaims.reset_index(inplace=True)
JoblessClaims['Date'] = pd.to_datetime(JoblessClaims['Date'])

In [108]:
cpi

      Date      CPI
0   Feb-10  173.419
1   Mar-10  174.798
2   Apr-10  175.333
3   May-10  175.333
4   Jun-10  173.899
5   Jul-10  173.503
6   Aug-10  173.925
7   Sep-10  174.282
8   Oct-10  175.225
9   Nov-10  175.415
10  Dec-10  176.015
11  Jan-11   177.48
12  Feb-11  178.874
13  Mar-11  182.728
14  Apr-11  185.311
15  May-11  186.804
16  Jun-11  185.266
17  Jul-11  184.931
18  Aug-11  185.566
19  Sep-11  186.015
20  Oct-11  185.236
21  Nov-11  184.791
22  Dec-11  183.345
23  Jan-12  184.636
24  Feb-12  186.279
25  Mar-12  189.201
26  Apr-12  190.089
27  May-12  188.963
28  Jun-12  186.967
29  Jul-12  185.872
30  Aug-12  187.952
31  Sep-12  189.575
32  Oct-12  189.338

In [109]:
new = pd.concat([cpi, JoblessClaims, train], axis=0, sort=True)

In [110]:
new

            CPI Claims        Date  Dept IsHoliday  Store  Weekly_Sales
0       173.419    NaN      Feb-10   NaN       NaN    NaN           NaN
1       174.798    NaN      Mar-10   NaN       NaN    NaN           NaN
2       175.333    NaN      Apr-10   NaN       NaN    NaN           NaN
3       175.333    NaN      May-10   NaN       NaN    NaN           NaN
4       173.899    NaN      Jun-10   NaN       NaN    NaN           NaN
5       173.503    NaN      Jul-10   NaN       NaN    NaN           NaN
6       173.925    NaN      Aug-10   NaN       NaN    NaN           NaN
7       174.282    NaN      Sep-10   NaN       NaN    NaN           NaN
8       175.225    NaN      Oct-10   NaN       NaN    NaN           NaN
9       175.415    NaN      Nov-10   NaN       NaN    NaN           NaN
10      176.015    NaN      Dec-10   NaN       NaN    NaN           NaN
11       177.48    NaN      Jan-11   NaN       NaN    NaN           NaN
12      178.874    NaN      Feb-11   NaN       NaN    NaN           NaN
13      182.728    NaN      Mar-11   NaN       NaN    NaN           NaN
14      185.311    NaN      Apr-11   NaN       NaN    NaN           NaN
15      186.804    NaN      May-11   NaN       NaN    NaN           NaN
16      185.266    NaN      Jun-11   NaN       NaN    NaN           NaN
17      184.931    NaN      Jul-11   NaN       NaN    NaN           NaN
18      185.566    NaN      Aug-11   NaN       NaN    NaN           NaN
19      186.015    NaN      Sep-11   NaN       NaN    NaN           NaN
20      185.236    NaN      Oct-11   NaN       NaN    NaN           NaN
21      184.791    NaN      Nov-11   NaN       NaN    NaN           NaN
22      183.345    NaN      Dec-11   NaN       NaN    NaN           NaN
23      184.636    NaN      Jan-12   NaN       NaN    NaN           NaN
24      186.279    NaN      Feb-12   NaN       NaN    NaN           NaN
25      189.201    NaN      Mar-12   NaN       NaN    NaN           NaN
26      190.089    NaN      Apr-12   NaN       NaN    NaN           NaN
27      188.963    NaN      May-12   NaN       NaN    NaN           NaN
28      186.967    NaN      Jun-12   NaN       NaN    NaN           NaN
29      185.872    NaN      Jul-12   NaN       NaN    NaN           NaN
...         ...    ...         ...   ...       ...    ...           ...
421540      NaN    NaN    4/6/2012  98.0     False   45.0        778.70
421541      NaN    NaN   4/13/2012  98.0     False   45.0        559.14
421542      NaN    NaN   4/20/2012  98.0     False   45.0        605.80
421543      NaN    NaN   4/27/2012  98.0     False   45.0        619.41
421544      NaN    NaN    5/4/2012  98.0     False   45.0        694.25
421545      NaN    NaN   5/11/2012  98.0     False   45.0        893.60
421546      NaN    NaN   5/18/2012  98.0     False   45.0        745.44
421547      NaN    NaN   5/25/2012  98.0     False   45.0        795.94
421548      NaN    NaN    6/1/2012  98.0     False   45.0        874.64
421549      NaN    NaN    6/8/2012  98.0     False   45.0        713.50
421550      NaN    NaN   6/15/2012  98.0     False   45.0        856.35
421551      NaN    NaN   6/22/2012  98.0     False   45.0        622.62
421552      NaN    NaN   6/29/2012  98.0     False   45.0        690.52
421553      NaN    NaN    7/6/2012  98.0     False   45.0        659.65
421554      NaN    NaN   7/13/2012  98.0     False   45.0        695.21
421555      NaN    NaN   7/20/2012  98.0     False   45.0        845.30
421556      NaN    NaN   7/27/2012  98.0     False   45.0        657.63
421557      NaN    NaN    8/3/2012  98.0     False   45.0        516.46
421558      NaN    NaN   8/10/2012  98.0     False   45.0        727.49
421559      NaN    NaN   8/17/2012  98.0     False   45.0        500.16
421560      NaN    NaN   8/24/2012  98.0     False   45.0        415.40
421561      NaN    NaN   8/31/2012  98.0     False   45.0        346.04
421562      NaN    NaN    9/7/2012  98.0      True   45.0        352.44
421563      NaN    NaN   9/14/2012  98.0     False   45.0        605.96
421564      NaN    NaN   9/21/2012  98.0     False   45.0        467.30
421565      NaN    NaN   9/28/2012  98.0     False   45.0        508.37
421566      NaN    NaN   10/5/2012  98.0     False   45.0        628.10
421567      NaN    NaN  10/12/2012  98.0     False   45.0       1061.02
421568      NaN    NaN  10/19/2012  98.0     False   45.0        760.01
421569      NaN    NaN  10/26/2012  98.0     False   45.0       1076.80

[421746 rows x 7 columns]

In [ ]:
new = new.dropna()
print(new)

In [ ]:
JobColNames = ['Date', 'Claims']
joblessclaims = pd.read_csv('initial_joblessclaims.csv', parse_dates=True, index_col = 0, header = None, names=JobColNames)

#Slice only the dates from the list
JoblessClaims = joblessclaims.loc['6/2/2010':'27/10/2012', :]

# Convert to DateTime
#JoblessClaims = pd.to_datetime(joblessclaims['Unnamed: 0'], format='%d%m%y')

In [ ]:
df11 = cpi.set_index(['Date','CPI'])
df22 = joblessclaims.set_index(['Date','Claims'])

df = df11.combine_first(df22).astype(int).reset_index()

In [ ]:
    #joblessclaims.columns = ['Date', 'Jobless Claims']
#joblessclaims = np.array(joblessclaims)

In [ ]:
# # setup the dataframe
# cpi = pd.read_csv("initial_joblessclaims.csv", na_values=["0"],
#                 parse_dates=['Date'])
# df.to_csv('new.csv', index=True, columns=fields)

# dt = pd.date_range("08-11-2014","08-27-2014", index=True)
# #idx = pd.DatetimeIndex(dt, index=True)

In [ ]:
cpi.append["Column"]

In [ ]:
# Use for loop to search for the month to correspond to dates in "train" and "joblesssclaims".